Telethon
telethon-session-sqlalchemy
sqlalchemy==1.3.23
pytgcalls==0.6.1
yt-dlp
aiocsv
aiofiles
aiohttp
aiosqlite
arabic_reshaper
beautifulsoup4
cryptography
Pillow
psutil
psycopg2-binary
pyrogram
python-dotenv
pytz
pyfiglet
requests
sqlalchemy-json
tgcrypto
telegraph
youtube-search-python
